* {
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
}

.display--screen1 {
  width: 90%;
  margin: 0 auto;
  display: block;
  border: 2px solid black;
  padding: .8rem 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 .5rem rgba(0, 0, 0, 0.226);
  font-size: 1rem;
  outline: 0;
}

.display--screen2 {
  width: 90%;
  margin: 0 auto;
  display: block;
  border: 2px solid black;
  padding: .8rem 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 .5rem rgba(0, 0, 0, 0.226);
  font-size: 1rem;
  outline: 0;
}

.input-box {
  box-sizing: border-box;
  width: 100%;
}

.add {
  display: block;
  width: 50%;
  margin: 0 auto;
  font-size: 1.2rem;
  background-color: black;
  outline: none;
  color: aliceblue;
  margin-top: 4rem;
  padding: 1rem 0;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
}

.subtract {
  display: block;
  width: 50%;
  margin: 0 auto;
  font-size: 1.2rem;
  background-color: black;
  outline: none;
  color: aliceblue;
  padding: 1rem 0;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
}

.divide {
  display: block;
  width: 50%;
  margin: 0 auto;
  font-size: 1.2rem;
  background-color: black;
  outline: none;
  color: aliceblue;
  padding: 1rem 0;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
}

.multiply {
  display: block;
  width: 50%;
  margin: 0 auto;
  font-size: 1.2rem;
  background-color: black;
  outline: none;
  color: aliceblue;
  padding: 1rem 0;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
}

.add:hover {
  background-color: rgba(0, 0, 0, 0.527);
}

.add:active {
  background-color: black;
  opacity: .5;
  transform: scaleX(1.2);
  -webkit-transform: scaleX(1.2);
  -moz-transform: scaleX(1.2);
  -ms-transform: scaleX(1.2);
  -o-transform: scaleX(1.2);
}

.subtract:hover {
  background-color: rgba(0, 0, 0, 0.527);
}

.subtract:active {
  background-color: black;
  opacity: .5;
  transform: scaleX(1.2);
  -webkit-transform: scaleX(1.2);
  -moz-transform: scaleX(1.2);
  -ms-transform: scaleX(1.2);
  -o-transform: scaleX(1.2);
}

.divide:hover {
  background-color: rgba(0, 0, 0, 0.527);
}

.divide:active {
  background-color: black;
  opacity: .5;
  transform: scaleX(1.2);
  -webkit-transform: scaleX(1.2);
  -moz-transform: scaleX(1.2);
  -ms-transform: scaleX(1.2);
  -o-transform: scaleX(1.2);
}

.multiply:hover {
  background-color: rgba(0, 0, 0, 0.527);
}

.multiply:active {
  background-color: black;
  opacity: .5;
  transform: scaleX(1.2);
  -webkit-transform: scaleX(1.2);
  -moz-transform: scaleX(1.2);
  -ms-transform: scaleX(1.2);
  -o-transform: scaleX(1.2);
}

.results {
  width: 90%;
  margin: 0 auto;
  display: block;
  padding: .8rem 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 .5rem rgba(0, 0, 0, 0.226);
  font-size: 1rem;
}